# Turn rewrite engine on
Options +FollowSymLinks
RewriteEngine on
# map neat URL to internal URL
RewriteRule ^LoginController/updateName Controllers/loginController.php?view=updateName [nc,qsa]
RewriteRule ^LoginController/requestCode$ Controllers/loginController.php?view=requestCode [nc,qsa]
RewriteRule ^LoginController/signIn$ Controllers/loginController.php?view=signIn [nc,qsa]
#end of LoginControllerMapping
RewriteRule ^Test/getUser/([0-9]+)$ Controllers/loginController.php?view=getUser&userId=$1 [nc,qsa]
RewriteRule ^Test/getRoles/([0-9]+)$ Controllers/loginController.php?view=getRoles&userId=$1 [nc,qsa]
RewriteRule ^Test/sendGcm$ Controllers/Router.php?view=sendGcm [nc,qsa]
#all method routing
RewriteRule ^DeviceController/registerDevice   Controllers/Router.php?view=registerDevice [nc,qsa]
RewriteRule ^BuyItemsController/saveBuyItems   Controllers/Router.php?view=saveBuyItems [nc,qsa]
RewriteRule ^GroupController/save   Controllers/loginController.php?view=creatGroup [nc,qsa]