# Turn rewrite engine on
Options +FollowSymLinks
RewriteEngine on
# map neat URL to internal URL
RewriteRule ^LoginController/updateName Controllers/loginRouter.php?view=updateName [nc,qsa]
RewriteRule ^LoginController/requestCode$ Controllers/loginRouter.php?view=requestCode [nc,qsa]
RewriteRule ^LoginController/signIn$ Controllers/loginRouter.php?view=signIn [nc,qsa]
#end of login routing
RewriteRule ^Test/getUser/([0-9]+)$ Controllers/loginController.php?view=getUser&userId=$1 [nc,qsa]
RewriteRule ^Test/getRoles/([0-9]+)$ Controllers/loginController.php?view=getRoles&userId=$1 [nc,qsa]
RewriteRule ^Test/sendGcm$ Controllers/Router.php?view=sendGcm [nc,qsa]
#all device routing
RewriteRule ^DeviceController/registerDevice   Controllers/Router.php?view=registerDevice [nc,qsa]
#all buyitem routing
RewriteRule ^BuyItemsController/saveBuyItems   Controllers/Router.php?view=saveBuyItems [nc,qsa]
RewriteRule ^BuyItemsController/loadBuyItems   Controllers/Router.php?view=loadBuyItems [nc,qsa]
RewriteRule ^BuyItemsController/updateBuyItemPrice   Controllers/Router.php?view=updateBuyItemPrice [nc,qsa]
RewriteRule ^BuyItemsController/deleteBuyItem   Controllers/Router.php?view=deleteBuyItem [nc,qsa]
#all buys
RewriteRule ^BuysController/saveBuys   Controllers/Router.php?view=saveBuys [nc,qsa]
RewriteRule ^BuysController/loadBuys   Controllers/Router.php?view=loadBuys [nc,qsa]
RewriteRule ^BuysController/addReceiver   Controllers/Router.php?view=addReceiver [nc,qsa]
RewriteRule ^BuysController/getReceiver   Controllers/Router.php?view=getReceiver [nc,qsa]
RewriteRule ^BuysController/deletBuy   Controllers/Router.php?view=deletebuyItemList [nc,qsa]
# all group routing
RewriteRule ^GroupController/save   Controllers/Router.php?view=createGroup [nc,qsa]
RewriteRule ^GroupController/addMember   Controllers/Router.php?view=addMember [nc,qsa]
RewriteRule ^GroupController/deleteMember   Controllers/Router.php?view=deleteMember [nc,qsa]
RewriteRule ^GroupController/GetGroupUser  Controllers/Router.php?view=getgroupUser [nc,qsa]
# all image routing
RewriteRule ^ImageController/save  Controllers/Router.php?view=saveImage [nc,qsa]
RewriteRule ^ImageController/getImageById  Controllers/Router.php?view=getImageById [nc,qsa]
RewriteRule ^ImageController/getImagesByUser  Controllers/Router.php?view=getImagesByUser [nc,qsa]
RewriteRule ^ImageController/deleteImage Controllers/Router.php?view=deleteImage [nc,qsa]
RewriteRule ^ImageController/getImageByUserId Controllers/Router.php?view=getImageByUserId [nc,qsa]
#all event routing
RewriteRule ^EventController/saveEvents  Controllers/Router.php?view=saveEvents [nc,qsa]
RewriteRule ^EventController/loadEvents  Controllers/Router.php?view=loadEvents [nc,qsa]
RewriteRule ^EventController/addEventReceiver  Controllers/Router.php?view=addEventReceiver [nc,qsa]
RewriteRule ^EventController/getEventReceiver  Controllers/Router.php?view=getEventReceiver [nc,qsa]
RewriteRule ^EventController/loadEventTypes  Controllers/Router.php?view=loadEventTypes [nc,qsa]
RewriteRule ^EventController/saveEventType  Controllers/Router.php?view=saveEventType [nc,qsa]
